<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="new-form">
      <h3 class="new-form-title">Create coffee shop</h3>
        <%= simple_form_for(coffee_shop) do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :district %>
        <%= f.input :wifi, collection: 0..5 %>
        <%= f.input :rating, collection: 1..5 %>
        <%= f.input :photos, as: :attachinary %>

        <%= f.submit class: 'btn-primary'%>
        <% end %>
      </div>
    </div>
  </div>
</div>

