<div class="navbar-yumcha">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <%= image_tag "logo.png" %>
  <% end %>

  <% if user_signed_in? %>
  <div class="admin-options">
  <p> <%= link_to 'Add coffee shop', new_coffee_shop_path %> </p>
    <p> <%= link_to destroy_user_session_path, method: :delete do %>
    <%= t(".sign_out", default: "Log out") %>
    <% end %> </p>
  </div>
  <% end %>

</div>

